/__pycache__
/attention_importance.png
/distilled_model
/distilled_model_v2
/distilled_student
/evaluate_frida.py
/evaluate_pruned_frida.py
/evaluate_v3.py
/inspect_frida_model.py
/layer_activations.png
/layer_activations_disabled.png
/layer_activations_pruned.png
/minimodel_v1.py
/minimodel_v2.py
/model_inspection_results.json
/parameter_distribution_bar.png
/parameter_distribution_heatmap.png
/prune_frida_heads.py
/pruning_results.json
/requirements.txt
/results
/results_disabled_layers
/results_pruned
/results_student
/results_student_distilledv1
/results_student_distilledv2
/results_student_v2
/student_FRIDA
/student_FRIDA_v2
/train_microfrida_2layers.py
/train_microfrida_v1.py
/train_microfrida_v2.py